* {
  /* Override default margins*/
  --pagedjs-margin-right: 0.2in;
  --pagedjs-margin-left: 0.2in;
  --pagedjs-margin-top: 0.2in;
  --pagedjs-margin-bottom: 0.1in;
}


:root{
  --sidebar-width: 13.5rem; /* side bar width */
  --sidebar-background-color #d4d3cd;
  --decorator-border: 2px solid #d4d3cd; /* change color and thickness of timeline */

}

.decorator::after{
  background-color: #3b3a39; /* change color timeline dots */

}


/* Define the font family here */
body{
  font-family: "Roboto", sans-serif;

}